{% for port_id in ports %}
/configure/port[port-id={{port_id}}]/admin-state, enable 
/configure/port[port-id={{port_id}}]/connector/breakout, c1-100g
/configure/port[port-id={{port_id}}/1]/admin-state, enable
{% endfor %}

{% for interface_name, int_data in interfaces.items() %}
/configure/router[router-name=Base]/interface[interface-name={{interface_name}}]/port", "1/1/c{{int_data.port}}/1"
/configure/router[router-name=Base]/interface[interface-name={{interface_name}}]/ipv4/primary/address", "{{int_data.p2p_address}}"
/configure/router[router-name=Base]/interface[interface-name={{interface_name}}]/ipv4/primary/prefix-length", "{{int_data.prefix_length}}"
/configure/router[router-name=Base]/interface[interface-name={{interface_name}}]/admin-state", "enable"
{% endfor %}
